.container {
    border-radius: 8px;
    backdrop-filter: blur(20px);
    background-color: rgba(55, 55, 55, 0.5);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 2.5em 5.5em 2.5em 5.5em;
    margin: 5em 0 0 0;
    text-align: center;
    width: 30vw;
}

.dashboardElements {
    width: 60vw;
    display: grid;
    column-gap: 1em;;
    row-gap: 3em;
}

.chartDiv {
  grid-column-start: 1;
  grid-column-end: 3;
}


.savingsInfo {
  grid-column-start: 4;
  grid-column-end: 6;
}

.stockInfo {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}

.bondInfo {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 6;
}

.cryptoInfo {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}

.forexInfo {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 4;
  grid-column-end: 6;
}