
$primary-color: #00005c;
$text-color: mix(#000, $primary-color, 64%); 

#form
{
  float: left;
}
label{
    display: block;
}
.question,#submit{
    margin-top: 5%;
}
.question{

        box-sizing: border-box;
        width: auto;
        padding-left: 5%;
        padding-right: 5%;
        border: 1px solid #E6E6E6;
        border-radius: 20px;
        box-shadow: 0px 3px 18px 0px rgba(200, 50, 200, .5);
}
.yesno{
    // display:flex;
    // align-items: center;
    // flex-wrap: wrap;
    // justify-content: space-evenly;
    /* float: right; */

    background-color: mix(#fff, #00005c, 84%); 
    position: absolute;
    left: -9999px;
    &:checked + span {
      background-color: mix(#fff, $primary-color, 84%);
      &:before {
        box-shadow: inset 0 0 0 0.4375em $primary-color;
      }
    }
    transition: 1.25s ease;
    // &:hover {
}

.textField{
    /* border-radius: 5%;
    margin-bottom: 2%; */
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
}