
form
{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.question,#submit{
    margin-top: 5%;
}
.question{
    box-sizing: border-box;
    width: auto;
    /* padding-top: 2%;
    padding-bottom: 2%; */
    padding: 2%;
    border: 1px solid #E6E6E6;
    border-radius: 20px;
}